@page
@using Marten.AspNetIdentity.Example.Pages
@model Marten.AspNetIdentity.Example.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
